.section-one{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGwAAAAmCAMAAAAWe471AAAAb1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v0wLRAAAAJHRSTlMApME+xayHV+kn0Z4c1JXjgjAj8Xf5thUPCvXbypxvRmlgOE6sYm2/AAABmklEQVRYw+2V2ZKCMBAAQ7g1C0K4b3X+/xsXh2TVXUNlg+UT/aA2SlpSI5KdnZ0PcmHiRegPo3ydhPJggmoLQinzWSYE3rJqB3kMENVohyNZsL5ujxQE1iwOIHlfmsbCprUJqabceRlz2UJ1i1l1XVfJwNvaMOYGFdoV/Fcxi9xxhFwgM4uxnxMPjk4M6VzFktRejY2QCPW4dsw9KJYEwJwqNkEpdIBKN3ZslTHMqWInkOpDqBXD99QxzL0zRqkyJnNvi7HGW49hziAWu8j5IcZoXK7GZG5brI2iqKfcTYlGDHMbthHLHe/sT8QWKYtGfxtZunFAUpi0B6SgW0d/fRpl6m8s+3UHoa78lKOOxZHmjxqXQfIMr0feG6MAL8gR2llmMUzdiWJ8KsHH/Zdb0mLG4xVa1XhGMZmSnAEPZDkOisuXeZngiv+lcEI95aFBDFPPtME5TbL8iBJyPlzY2EMhBgP6MZy1X852/IWrOrZOWsBMVC/Ginw2nhFB1szaCKUgaB9jtCP/oLST+m51YrOnL2OnZGdnZwPfAUsvKmOgJhcAAAAASUVORK5CYII=);
  .player-wrapper {
    // position: relative;
    position: absolute;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
    top:0;
    left:0;
    height: 100vh;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}
